<h1>Pokemon Rankings</h1>



    <img src="./pokemon.jpg">


<head>
    
</head>
<body>
    <div *ngFor="let ranking of pokemonRankings">
    <div class="row">
        <div class="col" style="border: 1px solid white;">
            <p class="text-danger">Ranking: {{ranking.userRank}}</p>
        </div>
        <div class="col" style="border: 1px solid white;">
            <p class="text-warning">Pokemon Name: {{ranking.name}}</p>
        </div>
        <div class="col" style="border: 1px solid white;">
            <p class="text-primary">PokemonID: {{ranking.pokemonApiid}}</p>
        </div>
        <div class="col" style="border: 1px solid white;">
            <p class="text-primary">PokemonID: {{ranking.pokemonApiid}}</p>
        </div>
    </div>
    </div>
</body>

<div>
    <label for="userRankings">Click For User Rankings</label>
    <input type="number" id="userRankings" [(ngModel)]="userID">
    <button (click)="GetPokemonRankingsByUser()">CLICK FOR USER RANKINGS</button>
</div>

<br><br>

<head>
    
</head>
<body>
    <div *ngFor="let ranking of pokemonRankingsByCurrentUser">
    <div class="row">
        <div class="col" style="border: 1px solid yellow;">
            <p>Ranking: {{ranking.userRank}}</p>
        </div>
        <div class="col" style="border: 1px solid yellow;">
            <p>PokemonID: {{ranking.pokemonApiid}}</p>
        </div>
        <div class="col" style="border: 1px solid yellow;">
            <p>Pokemon Name: {{ranking.name}}</p>
        </div>
    </div>
    </div>
</body>

<hr>

<div>
    <select [(ngModel)]="typeFilter" id="#">
        <option selected="selected" value="Normal">Normal</option>
        <option value="Fire">Fire</option>
        <option value="Water">Water</option>
        <option value="Grass">Grass</option>
        <option value="Electric">Electric</option>
        <option value="Ice">Ice</option>
        <option value="Fighting">Fighting</option>
        <option value="Poison">Poison</option>
        <option value="Ground">Ground</option>
        <option value="Flying">Flying</option>
        <option value="Psychic">Psychic</option>
        <option value="Bug">Bug</option>
        <option value="Rock">Rock</option>
        <option value="Ghost">Ghost</option>
        <option value="Dark">Dark</option>
        <option value="Dragon">Dragon</option>
        <option value="Steel">Steel</option>
        <option value="Fairy">Fairy</option>
    </select>

    <button (click)="GetPokemonRankingsByType(typeFilter)">Filter By Type</button>
</div>

<div class="row">
    <div class="col">
        <h3>Current User: {{currentUser}}</h3>
        <h3>Pokemon rankings filtered by Type: {{typeFilter}}</h3>
    </div>
<head>
    
</head>
<body>
    <div *ngFor="let ranking of pokemonRankingsByType; index as i;">
    <div class="row">
        <div class="col" style="border: 1px solid yellow;">
            <p>Rank: {{i + 1}}</p>
        </div>
        <div class="col" style="border: 1px solid yellow;">
            <p>Overall Ranking: {{ranking.userRank}}</p>
        </div>
        <div class="col" style="border: 1px solid yellow;">
            <p>PokemonID: {{ranking.pokemonApiid}}</p>
        </div>
        <div class="col" style="border: 1px solid yellow;">
            <p>Pokemon Name: {{ranking.name}}</p>
        </div>
    </div>
    </div>
</body>


<!--what does selected="selected mean?
    what does id="#" mean?-->
<div>
    <h3>{{currentUser.userName}}: Filter by Generation</h3>
    <select [(ngModel)]="generationFilter" id="#">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
    </select>

    <button (click)="GetPokemonRankingsByGeneration(generationFilter)">Click to Filter By Generation</button>

    <h3>Pokemon Rankings Filtered By Generation {{generationFilter}}</h3><br><br>

    <head>
    
    </head>
    <body>
        <div *ngFor="let ranking of pokemonRankingsByType; index as i;">
        <div class="row">
            <div class="col" style="border: 1px solid yellow;">
                <p>Rank: {{i + 1}}</p>
            </div>
            <div class="col" style="border: 1px solid yellow;">
                <p>Overall Ranking: {{ranking.userRank}}</p>
            </div>
            <div class="col" style="border: 1px solid yellow;">
                <p>PokemonID: {{ranking.pokemonApiid}}</p>
            </div>
            <div class="col" style="border: 1px solid yellow;">
                <p>Pokemon Name: {{ranking.name}}</p>
            </div>
        </div>
        </div>
    </body>

<button (click)="GetPokemonRankingsByBoth(typeFilter, generationFilter)">Click to filter by both Generation and Type</button>

<h3>Pokemon Rankings Filtered By Gen {{generationFilter}} and by {{typeFilter}} Type</h3>

<head>
    
</head>
<body>
    <div *ngFor="let ranking of pokemonRankingsByType; index as i;">
    <div class="row">
        <div class="col" style="border: 1px solid yellow;">
            <p class="Danger link">Rank: {{i + 1}}</p>
        </div>
        <div class="col" style="border: 1px solid yellow;">
            <p>Overall Ranking: {{ranking.userRank}}</p>
        </div>
        <div class="col" style="border: 1px solid yellow;">
            <p>PokemonID: {{ranking.pokemonApiid}}</p>
        </div>
        <div class="col" style="border: 1px solid yellow;">
            <p>Pokemon Name: {{ranking.name}}</p>
        </div>
    </div>
    </div>
</body>


