<h1 *ngIf="loggedIn">{{currentUser.firstName}}'s Pokemon Rankings</h1>

<!-- Table for user's rankings -->
<table class="table table-striped" *ngIf="loggedIn">
    <thead>
        <tr>
            <th>Rank:</th>
            <th>Pokemon Name:</th>
            <th>Pokemon Image:</th>
            <th>Options (Filter???)</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let ranking of pokemonRankingsByCurrentUser; index as i;">
            <td>{{i + 1}} ({{ranking.userRank}})</td>
            <td>{{pokemonDetails[i].name}}</td>
            <td> <img [src]="pokemonDetails[i].sprites.front_default" alt=""></td>
            <td>
                <button type="button" class="btn btn-light mr-1">See Full Details</button>
            </td>
            <td *ngIf=""><app-pokemon-details></app-pokemon-details></td>
        </tr>
    </tbody>
</table>

<hr>
<!-- Table for UNRANKED Pokemon -->
<table class="table table-striped" *ngIf="loggedIn">
    <thead>
        <tr>
            <th>Pokemon Name:</th>
            <th>Pokedex Entry:</th>
            <th>Pokemon Image:</th>
            <th>Type/s</th>
            <th>Original Game</th>
            <th>Generation</th>
            <th>Add to List - we need button</th>

        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let pokemon of unrankedPokemonDetailsList; index as i;">
            <td>{{i + 1}} {{pokemon.name}}</td>
            <td>{{pokemon.id}}</td>
            <td> <img [src]="pokemon.sprites.front_default" alt=""></td>
            <td>
                <button type="button" class="btn btn-light mr-1">See Full Details</button>
            </td>
            <td *ngIf="pokemon.types.length == 1">{{pokemon.types[0].type.name}}</td>
            <td *ngIf="pokemon.types.length > 1">{{pokemon.types[0].type.name}} {{pokemon.types[1].type.name}}</td>
            <td *ngIf="pokemon.game_indices.length > 0 ">{{pokemon.game_indices[0].version.name}}</td>
            <td>{{pokemon}}</td>

            
            <div *ngIf="pokemonDetails[i].game_indices.length > 0 ">
                <p >Original Game: {{pokemonDetails[i].game_indices[0].version.name}}</p>
            </div>
            <!-- <p>Generation: {{pokemonGenerationID}}</p> -->
            <p>Pokemon Generation: {{pokemonDetails[i].name}}</p>


        </tr>
    </tbody>
</table>



<!-- Why was the line below included? what did this do? -->
<!-- <div *ngIf="pokemonRankings.length === pokemonDetails.length">
    <div *ngFor="let ranking of pokemonRankings; index as i;">
        <p>Ranking: {{i}}({{ranking.userRank}})</p>
        <p>Pokemon Name: {{pokemonDetails[i].name}}</p>
        <p>Pokemon Image: {{pokemonDetails[i].name}}</p>
        <p>Pokemon Generation: {{pokemonDetails[i].name}}</p>
        <p>PokemonID: {{ranking.pokemonApiid}}</p>
    </div>
</div> -->


<hr>

<div>
    <label for="userRankings">Click For User Rankings</label>
    <input type="number" id="userRankings" [(ngModel)]="userID">
    <button (click)="GetPokemonRankingsByUser()">CLICK FOR USER RANKINGS</button>
</div>

<br><br>

<div *ngIf="pokemonRankings.length === pokemonDetails.length">
    <div *ngFor="let ranking of pokemonRankingsByCurrentUser; index as i;">
        <p>Ranking: {{i + 1}} ({{ranking.userRank}})</p>
        <p>Pokemon Name: {{pokemonDetails[i].name}}</p>
        <p>Pokemon Image: {{pokemonDetails[i].name}}</p>
        <p>Pokemon Generation: {{pokemonDetails[i].name}}</p>
    </div>
</div>


<hr>

<div>
    <select [(ngModel)]="typeFilter" id="#">
        <option selected="selected" value="Normal">Normal</option>
        <option value="Fire">Fire</option>
        <option value="Water">Water</option>
        <option value="Grass">Grass</option>
        <option value="Electric">Electric</option>
        <option value="Ice">Ice</option>
        <option value="Fighting">Fighting</option>
        <option value="Poison">Poison</option>
        <option value="Ground">Ground</option>
        <option value="Flying">Flying</option>
        <option value="Psychic">Psychic</option>
        <option value="Bug">Bug</option>
        <option value="Rock">Rock</option>
        <option value="Ghost">Ghost</option>
        <option value="Dark">Dark</option>
        <option value="Dragon">Dragon</option>
        <option value="Steel">Steel</option>
        <option value="Fairy">Fairy</option>
    </select>

    <button (click)="GetPokemonRankingsByType(typeFilter)">Filter By Type</button>
</div>

<h3>Current User: {{currentUser}}</h3>
<h3>Pokemon rankings filterd by Type: {{typeFilter}}</h3>

<div *ngIf="pokemonRankings.length === pokemonDetails.length">
    <div *ngFor="let ranking of pokemonRankingsByType; index as i;">
        <p>Ranking: {{i+1}} ({{ranking.userRank}})</p>
        <p>PokemonID: {{ranking.pokemonApiid}}</p>
        <p>Pokemon Name: {{pokemonDetails[i].name}}</p>
        <p>Pokemon Types: {{pokemonDetails[i].types[0].type.name}}   <span *ngIf="pokemonDetails[i].types.length > 1">{{pokemonDetails[i].types[1].type.name}}</span></p>
        <div *ngIf="pokemonDetails[i].game_indices.length > 0 ">
            <p >Original Game: {{pokemonDetails[i].game_indices[0].version.name}}</p>
        </div>
        <!-- <p>Generation: {{pokemonGenerationID}}</p> -->
        <p>Pokemon Generation: {{pokemonDetails[i].name}}</p>
    </div>
</div>


<hr>
<!--what does selected="selected mean?
    what does id="#" mean?-->
<div>
    <h3>{{currentUser.firstName}}: Filter by Generation</h3>
    <select [(ngModel)]="generationFilter" id="#">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
    </select>

    <button (click)="GetPokemonRankingsByGeneration(generationFilter)">Click to Filter By Generation</button>

    <h3>Pokemon Rankings Filtered By Generation {{generationFilter}}</h3><br><br>

    <div *ngFor="let ranking of pokemonRankingsByGeneration; index as i;">
        <p>Ranking: {{i + 1}} ({{ranking.userRank}})</p>
        <p>Overall Rank: {{ranking.userRank}}</p>
        <p>Pokemon ID: {{ranking.pokemonApiid}}</p>
    </div>
</div>

<button (click)="GetPokemonRankingsByBoth(typeFilter, generationFilter)">Click to filter by both Generation and Type</button>

<h3>Pokemon Rankings Filtered By Gen {{generationFilter}} and by {{typeFilter}} Type</h3>

<div *ngFor="let ranking of pokemonRankingsByBoth; index as i;">
    <p>Ranking: {{i + 1}} ({{ranking.userRank}})</p>
    <p>Overall Rank: {{ranking.userRank}}</p>
    <p>PokeDex ID: {{ranking.pokemonApiid}}</p>
</div>

