<div>
    <h3 class="d-flex justify-content-center">PokeRank App</h3>
    <h5 class="d-flex justify-content-center" *ngIf="loggedIn">{{currentUser.firstName}}'s Pokedex</h5>
    <h5 class="d-flex justify-content-center" *ngIf="!loggedIn">Please login to your account to view your rankings</h5>
</div>

<div class="container">
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
      <ul class="navbar-nav">
        <!-- Filter By Type -->
        <li class="nav-item">
            <!-- <button routerLink="CommunityRankings" class="m-1 btn btn-light btn-outline-primary">Filter Type</button> -->
            <select [(ngModel)]="typeFilter">
                <option selected="selected" value="Normal">Normal</option>
                <option value="Fire">Fire</option>
                <option value="Water">Water</option>
                <option value="Grass">Grass</option>
                <option value="Electric">Electric</option>
                <option value="Ice">Ice</option>
                <option value="Fighting">Fighting</option>
                <option value="Poison">Poison</option>
                <option value="Ground">Ground</option>
                <option value="Flying">Flying</option>
                <option value="Psychic">Psychic</option>
                <option value="Bug">Bug</option>
                <option value="Rock">Rock</option>
                <option value="Ghost">Ghost</option>
                <option value="Dark">Dark</option>
                <option value="Dragon">Dragon</option>
                <option value="Steel">Steel</option>
                <option value="Fairy">Fairy</option>
            </select>
    
            <button (click)="GetPokemonRankingsByType(typeFilter)">Filter By Type</button>

        </li>

        <!-- Filter by Generation -->
        <li class="nav-item">
            <!-- <button routerLink="CommunityRankings" class="m-1 btn btn-light btn-outline-primary">Generation</button> -->
            <select [(ngModel)]="generationFilter">
                <option selected="selected" value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>
    
            <button (click)="GetPokemonRankingsByGeneration(generationFilter)">Filter By Generation</button>

        </li>

        <li class="nav-item">
            <button routerLink="CommunityRankings" class="m-1 btn btn-light btn-outline-primary">Community Rankings</button>
          </li>
    </ul>
    </nav>
</div>
    
<hr>

<div *ngIf="loggedIn">
    <div *ngIf="currentPokemonRankings.length > 5">
        <h1 class="d-flex justify-content-center" *ngIf="loggedIn">
            <img [src]="currentPokemonRankings[0].sprite" alt="">
            <img [src]="currentPokemonRankings[1].sprite" alt="">
            <img [src]="currentPokemonRankings[2].sprite" alt="">
            {{currentUser.firstName}}'s Pokemon Rankings 
            <img [src]="currentPokemonRankings[3].sprite" alt="">
            <img [src]="currentPokemonRankings[4].sprite" alt="">
            <img [src]="currentPokemonRankings[5].sprite" alt="">
        </h1>
    </div>

<!-- Table for user's rankings -->
<table class="table table-striped" *ngIf="loggedIn">
    <thead>
        <tr>
            <th>Rank:</th>
            <th>Pokemon Name:</th>
            <th>Pokemon Image:</th>
            <th *ngIf="displayDetails">Types</th>
            <th *ngIf="displayDetails">Original Game</th>
            <th *ngIf="displayDetails">Generation</th>
            <th>Edit Pokemon:</th>
            <th>Remove Pokemon:</th>
            <th><button (click)="ToggleFullDetails()">Toggle Details</button></th>
            <!-- Make this a button -->

        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let ranking of pokemonRankingsByCurrentUser; index as i;">
            <td>{{i + 1}} ({{ranking.userRank}})</td>
            <td>{{ranking.name}}</td>
            <td> <img [src]="ranking.sprite" alt=""></td>
            <td *ngIf="displayDetails">{{ranking.types}}</td>
            <td *ngIf="displayDetails">{{ranking.originalGame}}</td>
            <td *ngIf="displayDetails">{{GetPokemonGenerationID(ranking.pokemonApiid)}}</td>
            <!-- <td><button type="button" class="btn btn-light mr-1">Edit</button></td> -->
            <!-- <td>
                <button type="button" class="btn btn-light mr-1" (click)="ToggleFullDetails()">See Full Details</button>
            </td> -->
            <!-- <td><button type="button" class="btn btn-light mr-1">Remove</button></td> -->
            
            <td>
                <!-- Button trigger modal -->
                <!-- data backdrop and data keyboard make it where user can't click outside window to close modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                  Edit
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Pokemon Ranking</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <label for="newRank">Enter New Ranking: </label> <br>
                        <input type="number" min="1" max="151" value="1" placeholder="enter number 1 - 151" [(ngModel)]="editRank" id="newRank"/>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="EditPokemonRanking(ranking.name, editRank)">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
            </td>

            <td>
                <!-- Button trigger modal -->
                <!-- data backdrop and data keyboard make it where user can't click outside window to close modal -->
                <button type="button" class="btn btn-primary" float-right m-2 data-toggle="modal" data-target="#exampleModal">
                    Remove
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Remove Pokemon</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <h3 class="d-flex justify-content-center">Are you sure you want to remove {{ranking.name}}?</h3>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="DeletePokemonRanking(ranking.name)">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<hr>

<h1 class="d-flex justify-content-center">Unranked Pokemon</h1>

<table class="table table-striped" *ngIf="loggedIn">
    <thead>
        <tr>
            <th>Pokemon Name:</th>
            <th>Pokedex Entry:</th>
            <th>Pokemon Image:</th>
            <th>Type/s</th>
            <th>Original Game</th>
            <th>Generation</th>
            <th>Add To Rankings</th>
            <!-- add modal which has option select of 1-151; this option corresponds to userRank; click add to execute add rank function -->
            <!-- <th><button (click)="ToggleFullDetails()" type="button" class="btn btn-light mr-1">Toggle Details</button></th> -->
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let unrankedPokemon of filteredPokemonDetails; index as i;">
            <td>{{i + 1}} {{unrankedPokemon.name}}</td>
            <td>{{unrankedPokemon.id}}</td>
            <td> <img [src]="unrankedPokemon.sprites.front_default" alt=""></td>
            <td *ngIf="unrankedPokemon.types.length === 1 && displayDetails">{{unrankedPokemon.types[0].type.name}}</td>
            <td *ngIf="unrankedPokemon.types.length > 1 && displayDetails">{{unrankedPokemon.types[0].type.name}}/{{unrankedPokemon.types[1].type.name}}</td>
            <td *ngIf="unrankedPokemon.game_indices.length > 0 && displayDetails">{{unrankedPokemon.game_indices[0].version.name}}</td>
            <td *ngIf="displayDetails">{{GetPokemonGenerationID(unrankedPokemon.id)}}</td>
            <td><input type="number" min="1" max="151" [(ngModel)]="addRankArray[i]"><button (click)="AddPokemonRanking(addRankArray[i], unrankedPokemon.name)">Add {{unrankedPokemon.name}}</button></td>
        </tr>
    </tbody>
</table>