<h1 class="d-flex justify-content-center">Community Pokemon Rankings List:</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Rank: (Score)</th>
            <th>Pokemon Name:</th>
            <th>Pokemon Image:</th>
            <th>Types</th>
            <th>Original Game</th>
            <th>Generation</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let ranking of communityRankings; index as i;">
            <td>{{i + 1}} ({{ranking.rank}})</td>
            <td>{{ranking.name}}</td>
            <!-- <td> <img [src]="this.commRankDetails.sprites.front_default" alt=""></td>
            <td> -->
                <!-- <button type="button" class="btn btn-light mr-1">See Full Details</button>
            </td> -->
            <!-- <td *ngIf=""><app-pokemon-details></app-pokemon-details></td> -->
        </tr>
    </tbody>
</table>