<h1 class="d-flex justify-content-center">Community Pokemon Rankings List:</h1>

<div class="container">
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button routerLink="Home" class="m-1 btn btn-light btn-outline-primary">Home</button>
        </li>
        <li class="nav-item">
          <button routerLink="Users" class="m-1 btn btn-light btn-outline-primary">Users</button>
        </li>
        <li class="nav-item">
          <button routerLink="PokemonRankings" class="m-1 btn btn-light btn-outline-primary">Pokemon Rankings</button>
        </li>
        <li class="nav-item">
          <button routerLink="CommunityRankings" class="m-1 btn btn-light btn-outline-primary">Community Rankings</button>
        </li>
        <li class="nav-item">
          <button routerLink="CommunityRankings" class="m-1 btn btn-light btn-outline-primary">Filter Type</button>
        </li>

        <!-- Filter By Type -->
        <li class="nav-item">
            <button routerLink="CommunityRankings" class="m-1 btn btn-light btn-outline-primary">Filter Type</button>
            <select [(ngModel)]="typeFilter">
                <option selected="selected" value="Normal">Normal</option>
                <option value="Fire">Fire</option>
                <option value="Water">Water</option>
                <option value="Grass">Grass</option>
                <option value="Electric">Electric</option>
                <option value="Ice">Ice</option>
                <option value="Fighting">Fighting</option>
                <option value="Poison">Poison</option>
                <option value="Ground">Ground</option>
                <option value="Flying">Flying</option>
                <option value="Psychic">Psychic</option>
                <option value="Bug">Bug</option>
                <option value="Rock">Rock</option>
                <option value="Ghost">Ghost</option>
                <option value="Dark">Dark</option>
                <option value="Dragon">Dragon</option>
                <option value="Steel">Steel</option>
                <option value="Fairy">Fairy</option>
            </select>

            <button (click)="GetPokemonRankingsByType(typeFilter)">Filter By Type</button>
        </li>
    </ul>
    </nav>
  </div> 

        <!-- Filter by Generation -->
        <li class="nav-item">
            <button routerLink="CommunityRankings" class="m-1 btn btn-light btn-outline-primary">Generation</button>
            <select [(ngModel)]="generationFilter">
                <option selected="selected" value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>
    
            <button (click)="GetPokemonRankingsByGeneration(generationFilter)">Filter By Generation</button>

        </li>
    </ul>
    </nav>
</div>
        
<table class="table table-striped">
    <thead>
        <tr>
            <th>Rank: (Score)</th>
            <th>Pokemon Name:</th>
            <th>Pokemon Image:</th>
            <th>Types</th>
            <th>Original Game</th>
            <th>Generation</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let ranking of communityRankings; index as i;">
            <td>{{i + 1}} ({{ranking.rank}})</td>
            <td>{{ranking.name}}</td>
            <td><img [src]="ranking.sprite" alt=""></td>
            <td>{{ranking.types}}</td>
            <td>{{ranking.originalGame}}</td>
            <td>{{GetPokemonGenerationID(ranking.pokemonApiid)}}</td>

            <!-- <td>{{PokemonRankingsComponent.totalPokemonDetailsList[ranking.pokemonApiid].sprites.front_default}}</td> -->

            <td>
                <!-- Button trigger modal -->
                <!-- data backdrop and data keyboard make it where user can't click outside window to close modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                  Edit
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Pokemon Ranking</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="CloseClick()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <label for="newRank">Enter New Ranking: </label> <br>
                        <input type="number" min="1" max="151" value="1" placeholder="enter number 1 - 151" [(ngModel)]="userRank" id="newRank"/>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="EditRankings()">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
            </td>

            <td>
                <!-- Button trigger modal -->
                <!-- data backdrop and data keyboard make it where user can't click outside window to close modal -->
                <button type="button" class="btn btn-primary" float-right m-2 data-toggle="modal" data-target="#exampleModal">
                    Remove
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Pokemon Ranking</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="CloseClick()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <label for="newRank">Enter New Ranking: </label> <br>
                        <input type="text" min="1" max="151" value="1" placeholder="enter number 1 - 151" [(ngModel)]="newRank" id="newRank"/>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="EditRanking(newRank, ranking.name)" (click)="successAlert()">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
            </td>


            <td></td>
            <!-- <td> <img [src]="this.commRankDetails.sprites.front_default" alt=""></td>
            <td> -->
                <!-- <button type="button" class="btn btn-light mr-1">See Full Details</button>
            </td> -->
            <!-- <td *ngIf=""><app-pokemon-details></app-pokemon-details></td> -->
        </tr>
    </tbody>
</table>